# Node modules
/node_modules/

# Log files
*.log

# Dependency directories
jspm_packages/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# npm package-lock
package-lock.json